# Environment variables can be declared using a .env file or dbt Cloud
# Copy this file and fill in the necessary variables
# DO NOT commit this file with any secrets!
DB_TRANSFORM_USER=etladmin
DB_TRANSFORM_PASSWORD=XXX
DB_TRANSFORM_DATABASE=XXX

# Snowflake-specific
SNOWFLAKE_ACCOUNT=XXX
SNOWFLAKE_TRANSFORM_ROLE=TRANSFORM_ROLE
SNOWFLAKE_TRANSFORM_WAREHOUSE=TRANSFORM_WH

# Redshift-specific
REDSHIFT_HOST=XXX